<div class="fixed-top-lg" style="z-index: 999;">
    <div>
        <header class="custom-header">
            <div class="row align-items-center flex-lg-row container-text">
                <h1 class="college-name">Department of Architecture</h1>
                <p style="color: white; font-weight: bolder;">SAP Campus, Anna University</p>
            </div>
        </header>
    </div>
    <header id="header" class="fixed">

        <div class="container d-flex align-items-center justify-content-lg-between">

            <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/favicon.png" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="index.html">Home</a></li>
                    <li><a class="nav-link scrollto" href="index.html#dept_desc">About us</a></li>
                    <li class="dropdown"><a href="#"><span>Academics</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown"><a href="academics.html"><span>Programmes Offered</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li class="dropdown"><a href="academics.html"><span>Under Graduation</span> <i
                                                class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="academics.html">B.Arch</a></li>
                                            <li><a href="academics.html">B.Plan</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="academics.html">Post Graduation</a></li>
                                    <li><a href="academics.html">PHD</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#"><span>Academic Calender</span> <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li class="dropdown"><a href="#"><span>UG</span> <i
                                                class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="#">Lower Semester</a></li>
                                            <li><a href="#">Higher Semester</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">PG</a></li>
                                    <li><a href="#">PHD</a></li>
                                </ul>
                            </li>
                            <li><a href="resource.html">Resources</a></li>
                            <li><a href="#">Learning Management System</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Research <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="supervisors.html">List of Supervisors</a></li>
                            <li><a href="#">Theses</a></li>
                            <li class="dropdown"><a href="projects.html">Projects <i
                                        class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li class="dropdown"><a href="projects.html">Research <i
                                                class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="projects.html">Ongoing</a></li>
                                            <li><a href="projects.html">Completed</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown"><a href="projects.html">Consultancy <i
                                                class="bi bi-chevron-right"></i></a>
                                        <ul>
                                            <li><a href="projects.html">Ongoing</a></li>
                                            <li><a href="projects.html">Completed</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="publications.html">Publications</a></li>
                            <li><a href="#">Patents</a></li>
                            <li class="dropdown"><a href="#">Centres <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Ramanujan Computing Center</a></li>
                                    <li><a href="#">Centre for Cyber Security</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Groups</a></li>
                            <li><a href="#">Thrust Areas</a></li>
                            <li class="dropdown"><a href="#">Colloborations<i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="#">Industry</a></li>
                                    <li><a href="#">National</a></li>
                                    <li><a href="#">International</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">People <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="teaching-staff.html">Teaching Staff</a></li>
                            <li><a href="non-teaching-staff.html">Non-Teaching Staff</a></li>
                            <li><a href="research-scholars.html">Research Scholars</a></li>
                            <li><a href="#">Adjunct Professors</a></li>
                            <li><a href="#">Visiting Professors</a></li>
                            <li><a href="overseas-professors.html">Overseas Professors</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#">Student Opportunities <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="awards.html">Awards</a></li>
                            <li><a href="#">Placements</a></li>
                            <li><a href="#">Student Exchange</a></li>
                            <li><a href="#">Semester Abroad</a></li>
                            <li><a href="#">Internships</a></li>
                            <li><a href="#">Scholarships</a></li>
                            <li><a href="#">Clubs and Association</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Facilities <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Academic Labs</a></li>
                            <li><a href="#">Specialized Labs</a></li>
                            <li><a href="#">Infrastructure</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Events <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li class="dropdown"><a href="#">Current <i class="bi bi-chevron-right"></i></a>
                                <ul>
                                    <li><a href="FieldsEvents.html">Field Visit</a></li>
                                    <li><a href="workshop.html">Workshop</a></li>
                                </ul>
                            </li>
                            <li><a href="pastevents.html">Past</a></li>

                        </ul>
                    </li>

                    <li class="dropdown"><a href="#">Alumni <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Groups</a></li>
                            <li><a href="#">Homecoming-2023</a></li>
                            <li><a href="#">Awards & Achievements</a></li>
                            <li><a href="#">Notable Alumni</a></li>
                        </ul>

                    <li class="dropdown"><a href="#">Logins <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">AUKDC</a></li>
                            <li><a href="#">ADAMS</a></li>
                            <li><a href="#">SEMS</a></li>
                            <li><a href="#">OTHERS</a></li>
                        </ul>
                </ul>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>

            <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/saplogo.png" alt=""
                    class="img-fluid"></a>

            <!-- Getting started  <a href="#about" class="get-started-btn scrollto">Get Started</a> -->

        </div>
    </header>
</div>