<div class="fixed-top-lg w-100" style="z-index: 999;">
    <div class="navbar navbar-expand-lg ">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="#">
                <img src="assets/img/640px-Header.png" alt="University Logo" class="university-logo img-fluid">
            </a>
            <img src="assets/img/saplogo.png" alt="College Logo" class="clg-logo img-fluid">
        </div>
    </div>
    <div class="p-2" style="background-color: rgb(186, 186, 182);">
        <h2 class="mx-3 department-name" style="text-transform: uppercase;">Department of Architecture</h2>
    </div>
</div>